<nav class="navbar">
    <div class="logo">
      <img routerLink="/" src="assets/lion-logo-icon.png" alt="Logo" />
    </div>
    <div class="menu-icon" (click)="toggleMenu()">
      &#9776;
    </div>
    <ul class="menu" [class.open]="menuOpen">
      <li><a routerLink="/sushi">{{ "SUSHI" | translate }} </a></li>
      <li><a routerLink="/rolls">{{ "ROLLS" | translate }}</a></li>
      <li><a routerLink="/special-menu">{{ "SPECIAL_MENU" | translate }}</a></li>
      <li><a routerLink="/drinks">{{ "DRINKS" | translate }}</a></li>
    </ul>
</nav>