<div class="home-container">
    <img class="bg-image" src="assets/lion-logo-icon.png" alt="Logo" />
  <div class="button-container">
          <div class="image-button">
            <img routerLink="/main-menu" src="assets/door.png" alt="Door" />
            <span class="text">Main Menu</span>
          </div>
          <div class="image-button">
            <img routerLink="/special-menu" src="assets/door.png" alt="Door" />
            <span class="text">Special Menu</span>
          </div>
  </div>
</div>
  